<html>
	<head>
		<script type="text/javascript" src="forge/app_config.js"></script>
		<script type="text/javascript" src="forge/api-firefox-bg.js"></script>
		<script type="text/javascript" src="forge/all.js"></script>
		{% if defined("plugins") and "background" in plugins and "config" in plugins["background"] and "files" in plugins["background"]["config"] %}\
{% for bg_file in plugins["background"]["config"]["files"] %}\
	{% if bg_file.startswith('http://') or bg_file.startswith('https://') %}\
		<script type="text/javascript" src="${bg_file}"></script>
	{% end %}
	{% if not bg_file.startswith('/') and not bg_file.startswith('http://') and not bg_file.startswith('https://') %}\
		<script type="text/javascript" src="src/${bg_file}"></script>
	{% end %}
	{% if bg_file.startswith('/') %}\
		<script type="text/javascript" src="src${bg_file}"></script>
	{% end %}
{% end %}
{% end %}
	</head>
	<body>
	</body>
</html>
